@use "../abstracts/" as *;

.shop .products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 5rem;

  .product-preview {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    flex-direction: column;

    height: 20rem;
    width: 22rem;
    border-radius: 1rem;
    border: 1px solid var(--text-color);
    background-color: var(--card-color);
    box-shadow: 0px 0px 10px 2px var(--text-color);

    animation: opacity-animation 2s;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    & > * {
      flex: 1;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .title {
      font-size: larger;
    }

    img {
      height: 10rem;
      width: 10rem;
    }
  }
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin-bottom: 1rem;
}

//mobile style
.shop .products {
  @include mobile {
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    .product-preview {
      max-width: 10rem;
      height: auto;
      padding: 0.3rem 0;
      img {
        width: 5rem;
        height: auto;
      }
    }
  }
}

.page-nav {
  @include mobile {
    gap: 2rem;
  }
}
